.hr-border {
  margin-bottom: 141px;
  border: -0.9px solid #ddd5;
  background-color: #ddd5;
  opacity: 0.3;
}

.vue-map-container {
  // margin: 39px;
  padding: 0px;
  height: rem(480px);
  max-width: rem(1120px);
}

.map-container {
  padding: 0px 0px 24px;
  color: $clr5;
  font-family: Cereal-Regular;
  h2 {
    font-size: 22px;
    line-height: 26px;
  }
  p {
    line-height: 22px;
    // font-size: 16px;
    margin-bottom: rem(24px);
  }
}
