.stay-preview-gallery {
  position: relative;
  img {
    border-radius: 12px;
    width: 100%;
    // max-height: 230px;
    object-fit: cover;
  }
}
.stay-preview-container{
  max-width: 300px;
}
.icon-heart {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;
}

.isLiked {
  fill: #080002 !important ;
}
.card-rate {
  // font-family: Cereal-Medium;
  justify-content: flex-end;
  width: 260px;
  font-size: rem(14px);
  align-items: right;
  padding-top: rem(10px);
  color: black;
  span:nth-child(2) {
    color: $clr5;
    margin-right: rem(4px);
  }
  span:nth-child(3) {
    color: #060101;
  }

  .star-preview {
    width: rem(200px);
  }
}
span.total-rate {
  font-family: sans-serif;
  font-size: 15px;
  text-align: right;
  color:#060101;
}

.stay-type {
  padding-top: rem(7px);
  font-size: rem(16px);
}
.el-carousel__arrow:hover {
  background-color: white !important ;
  color: $clr5 !important ;
  opacity: 0.9;
}
.el-carousel__arrow {
  background-color: white !important ;
  color: $clr5 !important ;
  opacity: 0.6;
}

.card-detail {
  font-size: rem(17px);
  margin-top: rem(17px);
  span {
    margin-top: rem(17px);
  }
}

.stay-preview-info {
  line-height: 17px;
}
.card-img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1.053/1;
    height: auto;
    vertical-align: bottom;
    box-sizing: border-box;
    border-radius: 5%;
}

.stay-name {
  font-size: rem(16px);
  padding-top: rem(5px);
  text-overflow: ellipsis;
}

.stay-price {
  padding-top: rem(8px);
  font-size: rem(16px);
  span {
    font-family: Cereal-Bold;
  }
}
