

// header {
    
//     // .loggedin-user {
//     //     background-color: $clr1;
//     //     padding: 2px 8px;
//     //     border-radius: 1em;
//     //     align-self: flex-end;
//     //     color: whitesmoke;
//     //     span{
//     //         background-color: $clr2;
//     //         padding: 4px;
//     //         margin: 10px;
//     //         border-radius: 50%;
//     //     }
//     //     img {
//     //         width: 2em;
//     //         height: 2em;
//     //         border-radius: 50%;
//     //     }
//     // }
    
// }

header{
    height: 80px;
    position: relative;
    align-items: center;
    z-index: 2;
    box-shadow: 1px 1px #00000014;
    text-decoration: none;
}

header:hover{
    text-decoration: none;
}

nav{
    display: flex;
    
    text-align: center;
    justify-content: space-between;
    position: relative;
    align-items: center;
   
}

nav p{
    margin: inherit;
}
.logo{
    display: flex;
    z-index: 100;

}

.logo-img{
    height: 32px;
    width: 32px;
    z-index: 100;
}

.search-bar{
    height: 50px;
    width: 367px;
    justify-content: space-evenly;
    padding-inline-start: 8px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    box-shadow: 0 1px 2px #00000014, 0 4px 12px #0000000d;
    transition: box-shadow .2s ease;
    align-items: center;
    color: #222;
    display: flex;
    max-width: 100%;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
//    border-top-right-radius: 16px;
//    border-bottom-right-radius: 16px;
//    border-bottom-left-radius: 16px;
//    border-top-left-radius: 16px;
   
}

.search-bar button:not(:last-child){
    background-color: transparent;
    color: inherit;
    font-size: .9375em;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 80px;
    cursor: inherit;
    border: none;
    font-weight: bold;
    box-shadow: h-offset 1px
}

.search-bar button:last-child{
    
}

.guests{
font-weight: normal;
}

.search-bar .search-btn{
    color: #fff;
    display: flex;
    align-items: center;
    padding: inherit;
    margin-right: 3px;
    background-color: #ff385c;
    border: none;
    
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.logo-text{
    
    font-weight: 100;
    font-size: 1.5rem;
    color:$clr7;
    text-decoration: none;
}

.logo-text span{
    text-decoration: none;

}

.user-nav{
    display: flex;
    border-radius: 50px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    height: 40px;
    position: relative;
    padding: 5px 5px 5px 12px;
    align-items: center;
    background-color: #fff;
    z-index: 100;
}

.user-nav .user-png{
    display: block;
    width:30px;
    height:30px;
    fill: currentcolor;
}

.back-drop{
    color: #fff;
    position: relative;
    width: 100%;
    
    top:80px;
}

.boundry{
    margin: auto;
}

.filter-list svg{
    margin-left: 1px;
}


