.calendar-container{
    position: absolute;
    display: grid;
    top:90px;
    background: white;
    border-radius: 32px;
    width: 700px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.0392156863), 0 8px 16px rgba(0, 0, 0, 0.1490196078);
}

.vc-pane-container{
     width: inherit;
     border-radius: 32px;
}

.vc-container{
    width: inherit;
    border-radius: 32px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.0392156863), 0 8px 16px rgba(0, 0, 0, 0.1490196078);
}

.vc-time-picker{

    display: none;

}