.confirmation-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.confirmation-container {
    flex-direction: row;

    .your-trip {
        grid-column: 1/2;

        .rare-find {
            border: 1px solid #dddd;
            padding-block-start: 35px;

            padding-inline-start: 30px;
            border-radius: 20px;
            height: 120px;
            width: 450px;
            // place-self: start;
        }
    }

    .confirm-price-modal {
        grid-column: 2/3;
        align-items: flex-end;

        .apt-modal {
            height: 504px;
            width: 500px;
            border: 1px solid #dddd;
            // background-color: black;
            border-radius: 11px;

        }
    }



}

.approveBtn {
    color: white;
    height: 57px;
    width: 218px;
    background-color: #ff385c;
    padding-top: 13px;
    padding-left: 30px;
    translate: 206px 81px;
    border-radius: 12px;

}

.confirmation-img {
    border-radius: 10px;
    aspect-ratio: 1.053/1;
    width: 145px;
    margin-block: 35px;
    margin-inline: 26px;
}


.confirm-h4 {
    margin-inline-start: 16px;
    margin-block-start: -14px;
}



.confirm-modal-top {
    padding-block-end: 10px;
    border-bottom: solid 1px #dddd;
}


@media (max-width: 768px) {
    .confirmation-container {
        display: flex;
        flex-direction: column;

    }

    .diamond-logo {
        translate: 308px -20px !important;
    }

    .rare-find {
        width: 390px !important;
    }

    .approveBtn {
        translate: 0px !important;
    }

    .close-btn {
        translate: 36px 10px !important;
    }

    .approve-btns-container {
        justify-content: space-between !important;
        margin-block-end: 25px !important;
    }

    .confirmation-container .confirm-price-modal .apt-modal {
        width: unset !important;
    }

    .your-trip-container {
        padding-inline-start: 34px !important;
    }

    .your-trip-container {
        border: 1px solid #ddd !important;
        border-radius: 9% !important;
        margin-block: 20px !important;
    h2{
        padding: unset !important;
    }
    }

    .flex {
        &.space-between {
            h3 {
                padding-inline-end: 15px !important;
            }

        }
    }

    .confirm-price-modal {
        height: 570px !important;
    }
}