// @import "compass/css3";

.Filter-list{
    
    display: flex;
    padding:1em;
    justify-content: space-between;
   
}

.Filter-list button{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    overflow: hidden;
    width:40px;
    border: none;
}

.Filter-list img{
    width: 100%;
    // height: 100%;
    display: block;
    box-sizing: border-box;
    // font-size: 12px;
    opacity: 50%;
    transition: opacity .2s;
}

.Filter-list img:hover{
   opacity: 1;
   cursor: pointer;
}

