.guest-modal {

    margin: auto;
    top: 420px;
    position: sticky;
    height: 390px;
    width: 330px;
    display: grid;
    grid-template-columns: 145px 174px;
    grid-template-rows: repeat(5, 68px);
    translate: 10px -83px;
    background-color: white;
    z-index: 101;
    place-items: center;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
    align-content: center;



    // top: 150px;
    // position: sticky;
    // height: 360px;
    // width: 320px;
    // display: grid;
    // grid-template-columns: 145px 112px;
    // grid-template-rows: repeat(5, 61px);
    // translate: -295px 186px;
    // background-color: white;
    // z-index: 101;
    // place-items: center;
    // border-radius: 4px;
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
    // margin: auto;









    .adult-count {}

    .space-between {
        width: 100px;

        &.counter {
            width: 113px;
            justify-self: end;
            padding-inline-end: 10px;
        }

        span {
            color: black;
        }
    }
}

.flex {
    .description {
        margin-block-start: 5px;
    }




}

.roundBtn {
    // border: 0.1px solid black;
    outline: 0.1px rgba(109, 108, 108, 0.453) solid;
    padding-inline-start: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
}