.container{
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.search-form{
    
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 66px;
    width: max-content;
    margin: 0;
    position: relative;
    background-clip: padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 32px;
    padding: 14px 33px

    
}

.search-form div{
    margin: 20px;
}

.search-form h2{
    font-size: .75rem;
    font-weight: bold;
    font-family: cereal-medium;
}

.search-form h1{
    font-size: .875rem;
    font-family: cereal-light;
    overflow: hidden;
   
    text-overflow: ellipsis;
    max-width: 100px;
}

.search-form .search-btn{
    font-family: CerealMd;
    position: relative;
    z-index: 3;
    margin-top: 5px;
    grid-row: 1/-1;
    grid-column: 2;
    padding-block: 15px;
    padding-inline: 18px;
    border-radius: 5em;
    background: radial-gradient(circle at left,#ff385c 0%,#e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100%);
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    right: -4px;
    height: 48px;
    width: 112px;
    border: none;
    justify-content: center;
    margin-block: auto;
}

.dest-search{
    background-color: #ebebeb;
    color:black;
    border: 1px solid #DDDDDD;
}