.stay-amenities-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.flex {

    // svg {
    //     margin-inline-end: 10px;
    // }
}

.stay-main-amenities-list{
    padding-inline-start: 0;
}