.stay-preview-gallery {
  list-style: none;
  position: relative;
  img {
    border-radius: 12px;
    width: 105%;
    // max-height: 280px;
    object-fit: cover;
    aspect-ratio: 1.053/1;
  }
}

.stay-preview {
  background-color: transparent;
  color: #000;
  border: none;
  display: block;
  height: 100%;
  width: 98%;
  cursor: pointer;
  box-sizing: border-box;
  font-size: .9375rem;
  margin: 0
}

.stay-preview .bold {
  font-weight: 700
}

.stay-preview-container{
  max-width: 300px;
}
.icon-heart {
  position:absolute;
  right:12px;
  top: 12px;
  z-index: 2;
  translate:0px
}

// span .preview-rate {
//   // font-family: Cereal-Medium;
//   font-size: 15px;
//   translate:232px;
//   font-family: 'cereal',sans-serif;
//   flex-direction: row-reverse;
//   justify-items: flex-end;
//   width: 250px;
//   padding-top: rem(8px);
//   color: black;
//   span:nth-child(2) {
//     color: black;
//     margin-right: rem(2px);
//   }
//   span:nth-child(3) {
//     color: #080101;
//   }
// }

.isLiked {
  fill: #080002 !important ;
}
.card-rate {
  // font-family: Cereal-Medium;
  justify-content: flex-end;
  font-family: 'cereal',sans-serif;
  margin-block-end: 2px;
  font-size: rem(15px);
  align-items: right;
  padding-top: rem(10px);
  color: black;
  span:nth-child(2) {
    color: $clr5;
    margin-right: rem(4px);
  }
}

  .star-preview {
    width: rem(200px);
  }

span.preview-rate {
  font-family: sans-serif;
  font-size: 15px;
  text-align: right;
  color:#060101;
}

.stay-preview-info {
  line-height: 17px;
}

.stay-type {
  margin-block-start: -24px;
  font-weight:bolder ;
  padding-top: rem(6px);
  font-size: 15px;
  font-family: 'Circular', '-apple-system', 'BlinkMacSystemFont', 'Roboto', Helvetica 'Neue', sans-serif;
  margin-left: 32 px;
  line-height: 19px;
  }

.el-carousel__arrow:hover {
  background-color: white !important;
  color: #000000 !important;
  opacity: 0.9;
}
.el-carousel__arrow {
  background-color: white !important;
  color: #000000 !important;
  opacity: 0.6;
}

.card-detail {
  font-size: rem(17px);
  margin-top: rem(17px);
  span {
    margin-top: rem(17px);
  }
}

// .home-img{
//   object-fit: cover;
//   width: 100%;
//   aspect-ratio: 1.053/1;
//   height: auto;
//   vertical-align: bottom;
//   box-sizing: border-box;
//   border-radius: 5%;
// }

.stay-preview-info {
  line-height: 17px;
}
.card-img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1.053/1;
    height: auto;
    vertical-align: bottom;
    box-sizing: border-box;
    border-radius: 5%;
}

.stay-name {
  font-size: .9375rem;
  color: #717171;
  padding: 0;
  font-family: 'Circular', 'BlinkMacSystemFont', 'Roboto', Helvetica 'Neue', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 19px;
}

.stay-date {
  font-size: .9075rem;
  color: #717171;
  padding: 0;
  font-family: 'Circular', 'BlinkMacSystemFont', 'Roboto', Helvetica 'Neue', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 19px;
}


.stay-price {
  padding-top: rem(8px);
  font-size: rem(15px);
  margin-left: 32 px;
  span {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}