.review-container {
    grid-column: 2;

    .rating {
        display: grid;
        grid-template: repeat(3, 26px)/repeat(4, 1fr);
        gap: 10px;
        margin-bottom: 30px;
        align-items: center;

        p {
            margin: 0;
        }


        .progress-container {
            display: flex;
            gap: 13px;
            align-items: start;
            margin-inline-start: 23px;
        }
    }

}

.overall-rating {
    display: flex;
    align-items: center;
    gap: 0.1875em;
    margin-block-end: 27px;
    margin-block-start: 45px;

}

.el-progress {
    translate: 2px 8px;
}

.stay-reviews {
    grid-column: 1/-1;
    // width: 100%;
    // background-color: rgba(0, 0, 0, 0.182);
}

.reviews-list {
    margin-block-start: -18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 10px;
    height: 290px;
    width: 100%;
}

.mini-guest-img {
    border-radius: 50%;
    height: 43px;
    object-fit: cover;
    width: 43px;
    margin-inline-end: 15px;
}

.review {
    margin-block-end: 35px;
    margin-block-start: 23px;
}