.stay-amenities-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 40px 40px 40px 40px;
}
.stay-amenities{
    border-bottom: 1px solid #ddd;
    padding-block-end: 50px;
}
.flex {

    // svg {
    //     margin-inline-end: 10px;
    // }
}

.stay-main-amenities-list{
    padding-inline-start: 0;
}